#menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: @menuWidth;
	margin: 0;
	padding: 0;
	border-right: 1px solid #ddd;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	z-index: 100;

	#dbs {
		border-top: 1px solid #ddd;
		border-bottom: none;
		padding: 10px;
		background: #F6F6F6;
		color: #F6F6F6;
		font-size: 0;
	}

	#dbs span {
		font-size: 0;
	}

	#dbs select {
		margin: 0;
		width: 100%;
	}

	.links {
		background: #F6F6F6;
		border-bottom: 1px solid #ddd;
		padding: 0 10px 7px 10px;
	}

	#tables, #logins {
		border-bottom: 1px solid #ddd;
		padding: 0;
	}

	.message {
		background: transparent;
		border: none;
		border-bottom: 1px solid #ddd;
		color: #bbb;
	}
}

#tables {
	a[href*="&table="] {
		display: block;
		padding: 2px 30px 2px 10px;
		height: 20px;
		line-height: 20px;
		color: #444;
		white-space: normal;
	}

	a[href*="&table="]:hover {
		background: #eee;
	}

	a[href*="&select="] {
		float: right;
		display: block;
		padding: 2px 7px;
		height: 20px;
		line-height: 20px;
		color: #999 !important;
		overflow: hidden;
		width: 16px;
	}

	a[href*="&select="]:before {
		content: "📄  ";
		font-family: entypo;
		font-size: 24pt;
		line-height: 0;
		vertical-align: -3px;
	}

	a[href*="&select="]:hover {
		color: #444 !important;
	}

	a[href*="&table="]:nth-child(2), a[href*="&select="]:first-child {
		padding-top: 7px;
	}

	a[href*="&table="]:nth-last-child(2), a[href*="&select="]:nth-last-child(3) {
		padding-bottom: 7px;
	}

	a.active, a.active + a {
		color: @linkColor;
		font-weight: bold;
	}

	br {
		display: none;
	}
}

#logins {
	border-top: 1px solid #ddd;

	a {
		&:extend(#tables a[href*="&table="]);

		padding-right: 10px;
	}

	a:hover {
		background: #eee;
	}

	a:first-of-type {
		padding-top: 7px;
	}

	a:last-of-type {
		padding-bottom: 7px;
	}

	br {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	#menu {
		width: 40px;
		height: 40px;
		bottom: auto;
		border: none;
		overflow: hidden;
		background: #f6f6f6;

		#h1 {
			margin-top: 40px;
		}

		form, p, h1 * {
			display: none;
		}

		h1:before {
			position: fixed;
			display: block;
			width: 30px;
			height: 30px;
			content: "📸";
			font-family: "entypo";
			font-size: 32pt;
			line-height: 30px;
			border: 1px solid #e69150;
			border-radius: 2px;
			text-align: center;
			vertical-align: middle;
			background: #fff;
			cursor: pointer;
		}

		&:hover {
			width: auto;
			height: auto;
			width: @menuWidth;
			max-width: 100%;
			max-height: 100%;
			border-right: 1px solid #ddd;
			border-bottom: 5px solid #ddd;
			background: #fff;
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.07);
			z-index: 200;
			overflow-y: auto;
		}

		&:hover form, &:hover p, &:hover h1 * {
			display: block;
		}
	}
}

@media only screen and (max-width: 270px) {
	#menu:hover {
		border-right: none;
	}

	#h1 {
		height: 30px;
		background-size: 150px;
		background-position: 10px bottom;
	}

	.version {
		margin-left: 37px;
	}
}

// Retina
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5)
{
	#h1 {
		background: url("images/logo-hres.png") center bottom no-repeat;
		background-size: 180px;
	}
}